*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Poppins', sans-serif; 
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    }
a{
    text-decoration: none;
}

/* Navbar Section */
#header{
    position: fixed;
    width: 100vw;
    background: #ffff;
    z-index: 50;
    top: 0;
    left: 0;
    box-shadow: 0 0.2rem 0.4rem 0 rgba(0,0,0,0.2);
}

#navbar{
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo img{
    width: 4rem;
}

#hamburger-menu{
    font-size: 3rem;
    cursor: pointer;
    margin-right: 2rem;
    opacity: 0.6;
}

#hamburger-menu:hover{
    opacity: 1;
}

/* Mobile Navbar */
.navbar-mobile{
    position: absolute;
    transform: translateY(-100vh);
    transition: transform 1s ease-in-out;
    background: #ffffff;
    width: 100vw;
    box-shadow: 0 0.2rem 0.4rem 0 rgba(0,0,0,.2);
    z-index: -30;
}

.navbar-mobile .nav-item{
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 0rem 2rem;
}

.navbar-mobile .nav-item a{
    font-size: 1.5rem;
    padding: 0.5rem 0;
    color: #000;
    text-transform: uppercase;
    width: 100%
}

.navbar-mobile .nav-item a:hover{
    color: #3180D1;
}

.navbar-mobile .contact-us{
    display: block;
    text-align: center;
    font-size: 1.7rem;
    text-transform: uppercase;
    padding: 1rem 0;
    color: #ffffff;
    width: 90%;
    background: #3180D1;
    margin: 0 0rem 2rem 2rem;
    border-radius: 0.4rem;
    transition: background 0.3s ease-in-out;
}

.navbar-mobile .contact-us:hover{
    background: #f66733;
    transition: background 0.3s ease-in-out;
}

/* Desktop Navbar */
.navbar-desktop .nav-item{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 2rem;
}

.navbar-desktop .nav-item a{
    padding: 0 1rem;
    text-transform: uppercase;
    color: #000;
    font-size: 1.3rem;
   
}

.navbar-desktop .nav-item a:hover{
    color: #3180D1;
}

.navbar-desktop .nav-item a:last-child{
    padding: 1rem 1.5rem;
    background: #3180D1;
    color: #ffffff;
    border-radius: 0.3rem;
    transition: background 0.2s ease-in-out;
}

.navbar-desktop .nav-item a:last-child:hover{
    background: #f66733;
    transition: background 0.2s ease-in-out;
}

.navbar-desktop .vertical-line{
    border-right: 0.2rem solid rgb(144, 144, 144);
    width: 0.2rem;
    height: 4.5rem;
    margin: 0 3rem;
}

h3.speed {
    text-align: center;
    font-size: 3rem;
    font-weight: 600;
    margin: 9rem auto 0;
    line-height: 4.6rem;
    top:0;
    left: 0;
/* width: 99%; */
}
@media only screen and (max-width: 767px) {
    h3.speed {
        text-align: center;
        font-size: 1rem;
        font-weight: 600;
        margin: 9rem auto 0;
        line-height: 4.6rem;
        top:0;
        left: 0;
    /* width: 99%; */
    }
}

 .divspeed{
 margin: 0 auto;
} 
h3.speed::before{
    content: url(/Assets/VectorIncrease.png);
    position: absolute;
    width: 100%;

    display: flex;
justify-content: center;

    top: 13.8rem;
    right: 7.5rem;
}

.we {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.6rem;
    text-align: center;
   padding: 0 3rem;
    width: 99%;
    /* Black 80 */
    
    color: #464746;
}
button.project{
   
    display: block;
    margin: 0 auto;
}
.firstImg{
    margin: 0 auto;

    
}
.downloader2div{
display: flex;
justify-content: center;
align-items: center;
}
img.downloader2{
    margin: 0 auto;
    width: 99%;
    padding: 0 1rem;
    
}
@media only screen and (min-width: 768px) {
    img.downloader2 {
        margin: 8rem auto 0;
        width: 99%;
        padding: 0 1rem;
    }
 }
.rectanglediv{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    /* align-self: start; */
    top: -9.2rem;
    z-index: 1;
    left: -12rem;
}
@media only screen and (min-width: 768px) {
    .intro{
        display: flex;
        margin: 0;
        position: relative;
        justify-content:space-around;
        padding: 3rem;
    }
    .we{
        padding: 0;
        text-align: left;
        width: 100%;
    }
    .speed{
        position: relative;
        margin: 0;
    }
    .divspeed{
        position: relative;
        margin: 0;
        text-align: left;
    }
    h3.speed{
        text-align: left;
    }
    h3.speed::before{
        content: url(/Assets/VectorIncrease.png);
        position: absolute;
        width: 100%;
    
        display: flex;
    justify-content: center;
    
        /* top: 4.5rem; */
        right: 105px;
    }
   
}
@media only screen and (min-width: 1024px) {
    .intro{
        display: flex;
        margin: 0;
        position: relative;
        justify-content:space-around;
        padding: 3rem;
    }
    .we{
        padding: 0;
        text-align: left;
        width: 100%;
    }
    .speed{
        position: relative;
        margin: 0;
    }
    .divspeed{
        position: relative;
        margin: 0;
        text-align: left;
    }
    h3.speed{
        text-align: left;
    }
    h3.speed::before{
        content: url(/Assets/VectorIncrease.png);
        position: absolute;
        width: 100%;
    
        display: flex;
    justify-content: center;
    
        top: 4.5rem;
        right: 115px;
    }
   
}
button.project{
    display: flex;
flex-direction: row;
align-items: flex-start;
justify-content: center;
padding: 1rem 5.2rem;
color: white;
width: 20.3rem;
font-size: 1.2rem;
height: 4.1rem;
margin: 2.5rem auto;
background: #3180D1;
border-radius: .5rem;
align-items: center;
border: none;
}
.our{
    margin-top: 1.2rem;
}
@media only screen and (min-width: 768px) {
    button.project{
        margin: 2.5rem 0;
       }
       .firstImg{
        margin: 0;
       }
    }
.whyWorkWithUsWrapper{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    border: none;
    padding: 1rem;
    margin: 3rem auto;
    width: 100%;
    
    bottom: 6rem;
    background: #E7F3FF;

}
.why{
 
font-size: 2.4rem;
line-height: 3.6rem;

text-align: center;
margin: 2rem auto 2.3rem;
color: #181918;
}
.wrapperGrid{
    display: grid;
grid-template-columns: 1fr;
gap: 3rem;
margin: 6rem auto;
width: 100%;
}
@media only screen and (min-width: 768px) {
.fade{

    color: #3180D1;
        
    -webkit-animation-name: fade, move;
    -webkit-animation-duration: 2s, 4s;
    -webkit-animation-delay:0s, 0s ;
    }

    @keyframes fade {
        0%{
            opacity: 0;
        }
        50%{
            opacity: 1;
        }
    }
        @keyframes move {
            0%, 100% {
                transform: translateY(0); 
            }
            50%{
                transform: translateY(5%);
            }
            100% {
                transform: translateX(5%);
            }
        }
        @keyframes moveup {
            0%, 100% {
                transform: translateY(0); 
            }
          
            50% {
                transform: translateY(10%);
            }
        }
        h3::before{
            animation: moveup 2s infinite alternate, fade 2s infinite 2s ease-in-out;
        }
        .rectangle{
            animation: move 2s infinite alternate;
        }
    }

@media only screen and (min-width: 768px) {
    .wrapperGrid{
        display: grid;
grid-template-columns:  1fr 1fr;
gap: 3rem;
margin: 6rem auto;
width: 100%;
    }}
.whyWork{
    font-size: 1.6rem;

line-height: 2.4rem;
align-items: center;
text-align: center;
padding: .1rem;
width: 100%;
}
.reason{
    position: relative;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  border-radius: 1rem;
   text-align: center;
margin: 0 auto;
background-color: white;


}

/* .reason1{
    gap:2rem;
} */
h3.result{
    font-size: 2rem;
line-height: 2.4rem;
padding: 0 8rem;
}
.rP{
    padding: 1rem 2rem 3rem;
    margin: 0 auto;
}
.rParag{
   
    font-size: 1.5rem;
    line-height: 2rem;
}
.resultImage{
    padding: 4rem;
}
.who{
    width: 100%;
}
.flexWrapBlue{
    display: flex;
    flex-direction: column;
    padding: 1.5rem 2.5rem 0;
    margin: .5rem auto 2.2rem;
    background: #E7F3FF;
   
}

.flexWrapWhite{
    display: flex;
    flex-direction: column;
    padding: 1.5rem 2.5rem 0;
    margin: .5rem auto 2.2rem;
}
@media only screen and (min-width: 768px) {
    .flexWrapBlue {
        display: flex;
        flex-direction: row;
     
        justify-content: center;
        padding: 15px 45px 0;
        margin: 5px auto 22px;
        background: #E7F3FF;
    }
    .title{
        padding: 20px;
    }
    .flexWrapWhite{
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        padding: 15px 45px 0;
        margin: 5px auto 22px;
    }
    .jpeg{
        margin-bottom: 2rem;
    }
    .our{
        font-size: 2rem;
    }
}
.wee{
    text-align: center;
    font-size: 1.4rem;
    padding: 1rem;
}
.digMarkImg{
    width: 100%;
}
h3.our.p{
    font-size: 1.8rem;
    margin: 0 auto;
    margin-top: 1rem;
}
.lastSection{
    display: flex;
    flex-direction: column;
    padding: 1rem;

}
button.more{
    display: flex;
flex-direction: row;
align-items: flex-start;
justify-content: center;
padding: 1rem 5.2rem;
color: white;
width: 17.3rem;
font-size: 1.2rem;
height: 3.1rem;
margin: 2.5rem 0;
background: #3180D1;
border-radius: .5rem;
align-items: center;
border: none;
}
.flex1 ,.flex2, .flex3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1.5rem 2.5rem 0;
    margin: .5rem auto 2.2rem;
    
}
.portfolioImg{
width: 100%;
}
button:hover{
    background: #f66733;
    transition: background 0.3s ease-in-out;
    animation: scale 0.3s forwards;
    animation-direction: alternate;
}
.lastSection{
    background: #E7F3FF;
    align-items: center;
    width: 100%;
}

button.seeAll{
    display: flex;
flex-direction: row;
align-items: flex-start;
justify-content: center;
padding: 1rem 5.2rem;
color: white;
width: 17.3rem;
font-size: 1.2rem;
height: 3.1rem;
margin: 2.5rem 0;
background: #3180D1;
border-radius: .5rem;
align-items: center;
border: none;
}
.portfolio{
    display: flex;
    flex-direction: column;
}
@media only screen and (min-width: 768px) {
    .portfolio{ display: flex;
     flex-direction: row;
   
    }
 }
@keyframes scale{
   0%{ transform: scale(1.0);}
   100%{ transform: scale(1.1);}
}
.before{
    
position: relative;
}
.beforeFooter{
    position: relative;
    width: 100%;

    
}
.beforeFooterText{
    position: absolute;
    top: 1rem;
    left: 0;
    right: 0;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 0 1.5rem 1.5rem;
}

img.beforeFoot{
    width: 100%;
    object-fit: cover;
}
.our.foot{
    text-align: center;
    color: white;
}

button.contact{
    display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
padding: 1rem 5.2rem;
background: white;
width: 17.3rem;
font-size: 1.2rem;
height: 3.1rem;
margin: 2.5rem auto 0;
color: #3180D1;
border-radius: .5rem;
align-items: center;
border: none;
}
.fParag{
    color: white;
    text-align: center;
    display: flex;
    padding: 0 5rem;
    font-size: 1.5rem;
    justify-content: center;
}





/* Footer Section */
#footer{
    background: #3180D1;
    padding: 4rem 3rem;
}

#footer .footer-container{
    display: grid;
    grid-template-columns: repeat(1fr);
    gap: 3rem;
}

#footer .footer-logo{
    width: 18rem;
}

#footer .social-menu{
    display: flex;
    align-items: center;
}

#footer .social-menu a{
    font-size: 1rem;
    color: #fff;
    margin: 2rem 1.5rem;
}

#footer .social-menu a:hover{
    color: #000;
}

#footer .social-menu a i{
    font-size: 2rem;
}

#footer .footer-services h2, #footer .footer-company h2{
    font-size: 2rem;
    color: #fff;
    letter-spacing: 0.2rem;
    font-weight: 600;
}

#footer .footer-services div, #footer .footer-company div{
    display: flex;
    flex-direction: column;
    align-items: start;
}

#footer .footer-services div a, #footer .footer-company div a{
    color: #dcdcdc;
    padding: 0.7rem 0;
    font-size: 1.4rem;
}

#footer .footer-services div a:hover, #footer .footer-company div a:hover{
    color: #fff;
    font-size: 1.5rem;
}
#footer .copyright-info{
    margin: 5rem 0;
    border-top: 0.15rem solid #dcdcdc;
}

#footer .copyright-info p{
    font-size: 1.5rem;
    text-align: center;
    color: #fff;
}

/* Media Queries */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    /* hide desktop navbar */
    #navbar .navbar-desktop{
        display: none;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    /* hide desktop navbar */
    #navbar .navbar-desktop{
        display: none;
    }

    #our-works h2{
        font-size: 3rem;
        font-weight: 600;
    }

    #our-works .work-container{
        grid-template-columns: 1fr 1fr;
    }

    #our-works .work-container .work-content .overlay-text{
        padding: 3.5rem 0;
    }

    /* Footer Section */
    #footer .footer-container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    /* display navlinks on desktop devices */
    #navbar .navbar-desktop{
        display: block;
    }

    #hamburger-menu, .navbar-mobile{
        display: none;
    }
}