* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  overflow-x: hidden;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-family: "Poppins", sans-serif;
}

body main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
}
a{
  text-decoration: none;
}

/* Navbar Section */
#header{
  position: fixed;
  width: 100vw;
  background: #ffff;
  z-index: 50;
  top: 0;
  left: 0;
  box-shadow: 0 0.2rem 0.4rem 0 rgba(0,0,0,0.2);
}

#navbar{
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo img{
  width: 4rem;
}

#hamburger-menu{
  font-size: 3rem;
  cursor: pointer;
  margin-right: 2rem;
  opacity: 0.6;
}

#hamburger-menu:hover{
  opacity: 1;
}

/* Mobile Navbar */
.navbar-mobile{
  position: absolute;
  transform: translateY(-100vh);
  transition: transform 1s ease-in-out;
  background: #ffffff;
  width: 100vw;
  box-shadow: 0 0.2rem 0.4rem 0 rgba(0,0,0,.2);
  z-index: -30;
}

.navbar-mobile .nav-item{
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 0rem 2rem;
}

.navbar-mobile .nav-item a{
  font-size: 1.5rem;
  padding: 0.5rem 0;
  color: #000;
  text-transform: uppercase;
  width: 100%
}

.navbar-mobile .nav-item a:hover{
  color: #3180D1;
}

.navbar-mobile .contact-us{
  display: block;
  text-align: center;
  font-size: 1.7rem;
  text-transform: uppercase;
  padding: 1rem 0;
  color: #ffffff;
  width: 90%;
  background: #3180D1;
  margin: 0 0rem 2rem 2rem;
  border-radius: 0.4rem;
  transition: background 0.3s ease-in-out;
}

.navbar-mobile .contact-us:hover{
  background: #f66733;
  transition: background 0.3s ease-in-out;
}

/* Desktop Navbar */
.navbar-desktop .nav-item{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 2rem;
}

.navbar-desktop .nav-item a{
  padding: 0 1rem;
  text-transform: uppercase;
  color: #000;
  font-size: 1.3rem;
}

.navbar-desktop .nav-item a:hover{
  color: #3180D1;
}

.navbar-desktop .nav-item a:last-child{
  padding: 1rem 1.5rem;
  background: #3180D1;
  color: #ffffff;
  border-radius: 0.3rem;
  transition: background 0.2s ease-in-out;
}

.navbar-desktop .nav-item a:last-child:hover{
  background: #f66733;
  transition: background 0.2s ease-in-out;
}

.navbar-desktop .vertical-line{
  border-right: 0.2rem solid rgb(144, 144, 144);
  width: 0.2rem;
  height: 4.5rem;
  margin: 0 3rem;
}

.text1 {
  font-size: 3em;
  padding-left: 1em;
  padding-right: 1em;
  color: rgb(68, 67, 67);
  margin-top: 2em;
}
.para1 {
  font-size: 2em;
  padding-left: 1em;
  padding-right: 1em;
}

.sec2 {
  text-align: center;
  margin-top: 5em;
  padding-left: 1em;
  padding-right: 1em;
}
.text2 {
  font-size: 3em;
}
.para2 {
  font-size: 2em;
}

.seccontainer {
  display: flex;
  background-color: rgb(243, 253, 250);
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 3em;
  padding-left: 2em;
  padding-right: 2em;
}
.text3 {
  font-size: 3em;
  margin-left: 3em;
}
.para3 {
  font-size: 2em;
  margin-left: 4em;
  margin-top: 1em;
}
.para3list {
  font-size: 2em;
  margin-left: 6em;
  margin-top: 2em;
}
.sec3img {
  margin-top: 2em;
}

.seccontainer4 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 3em;
  padding-left: 2em;
  padding-right: 2em;
}

.text4 {
  font-size: 3em;
  margin-right: 1em;
}
.para4 {
  font-size: 2em;
  margin-top: 1em;
  margin-right: 1em;
}
.para4list {
  font-size: 2em;
  margin-left: 2em;
  margin-top: 2em;
}

.seccontainer {
  display: flex;
  background-color: rgb(243, 253, 250);
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 3em;
  padding-left: 2em;
  padding-right: 2em;
}
.text5 {
  font-size: 3em;
  margin-left: 3em;
}
.para5 {
  font-size: 2em;
  margin-left: 4em;
  margin-top: 1em;
}
.para5list {
  font-size: 2em;
  margin-left: 6em;
  margin-top: 2em;
}
.sec5img {
  margin-top: 2em;
}

.seccontainer6 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 3em;
  padding-left: 2em;
  padding-right: 2em;
}
.text6 {
  font-size: 3em;
}
.para6 {
  font-size: 2em;
  margin-top: 1em;
}
.para6list {
  font-size: 2em;
  margin-left: 2em;
  margin-top: 2em;
}
.imgcon6 {
  margin-left: 2em;
  margin-top: 2em;
  padding-left: 2em;
  padding-right: 2em;
}
.img1 {
  padding-left: 2em;
  padding-right: 2em;
  margin-top: 6em;
}
.imgcon4 {
  margin-top: 2em;
}

.bttn {
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  border-style: none;
  background-color: #3180d1;
  border-radius: 0.5em;
  color: white;
  margin-top: 2em;
  font-size: large;
  cursor: pointer;
  justify-content: center;
}
footer {
  background-color: #3180d1;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-top: 2em;
  padding-left: 2em;
  padding-right: 2em;
  padding: 4em;
}

.footerimg {
  display: flex;
}
.serv > p {
  margin-top: 1em;
}
.comp > p {
  margin-top: 1em;
}
.serv {
  padding-left: 1em;
  font-size: 16px;
  position: relative;
  left: 10em;
  color: white;
}
.comp {
  padding-left: 1em;
  font-size: 16px;
  color: white;
  position: relative;
  left: 20em;
}

.socials {
  margin-top: 5em;
  margin-left: 2em;
  text-align: center;
}
.tek {
  color: white;
  font-size: 18px;
  margin-top: 4em;
  text-align: center;
  border-top-style: solid;
  padding-top: 1em;
  width: 100%;
}
.icons {
  padding: 0.5em;
}
.icons1 {
  bottom: -0em;
  position: relative;
}

@media screen and (max-width: 768px) {
  body {
    width: 100%;
    display: block;
  }
  

  body main {
    display: block;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .text1 {
    font-size: 25px;
    margin-top: 3em;
  }
  .para1 {
    font-size: 16px;
  }

  .text2 {
    font-size: 25px;
    margin-top: 1em;
  }
  .para2 {
    font-size: 16px;
  }

  .text3 {
    font-size: 25px;
    margin-top: 1em;
  }
  .para3 {
    font-size: 16px;
  }
  .para3list {
    font-size: 16px;
  }

  .text4 {
    font-size: 25px;
    margin-top: 1em;
  }
  .para4 {
    font-size: 16px;
  }
  .para4list {
    font-size: 16px;
  }

  .text5 {
    font-size: 25px;
    margin-top: 1em;
  }
  .para5 {
    font-size: 16px;
  }
  .para5list {
    font-size: 16px;
  }
  .text3 {
    font-size: 25px;
    margin-top: 1em;
  }
  .text6 {
    font-size: 25px;
    margin-top: 1em;
  }
  .para6 {
    font-size: 16px;
  }
  .para6list {
    font-size: 16px;
  }

  br {
    display: none;
  }

  .textcon1 {
    position: relative;
    right: 7em;
  }

  .img1 {
    width: 100%;
  }
  .imgcon6 {
    width: 100%;
    position: relative;
    right: 3em;
  }
  .img3 {
    width: 100%;
  }
  .img5 {
    width: 100%;
  }
  .imgcon4 {
    width: 100%;
  }

  .seccontainer {
    display: block;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .seccontainer4 {
    display: block;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .seccontainer6 {
    display: block;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .bttn {
    width: 50%;
    margin-left: 5em;
    margin-right: 5em;
  }

  .footer {
    display: block;
    width: 100%;
  }
  .serv {
    position: relative;
    left: -0.02em;
    padding-top: 2em;
  }
  .comp {
    position: relative;
    left: -0.02em;
    padding-top: 2em;
  }
  .logofooter {
    position: relative;
  }

  .socials {
    position: relative;
    margin-top: 4em;
  }
  .footerimg {
    display: block;
  }
  .tek {
    width: 100%;
  }

  /* Media Queries */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  /* hide desktop navbar */
  #navbar .navbar-desktop{
      display: none;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  /* hide desktop navbar */
  #navbar .navbar-desktop{
      display: none;
  }
}
#our-works h2{
  font-size: 3rem;
  font-weight: 600;
}

#our-works .work-container{
  grid-template-columns: 1fr 1fr;
}

#our-works .work-container .work-content .overlay-text{
  padding: 3.5rem 0;
}

/* Footer Section */
#footer .footer-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
}


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
/* display navlinks on desktop devices */
#navbar .navbar-desktop{
  display: block;
}

#hamburger-menu, .navbar-mobile{
  display: none;
}

/* Our Works Section */
#our-works h2{
  font-size: 3rem;
  font-weight: 600;
  text-align: center;
}

/* COntact Us Section */
#contact-us .contact-us-img{
  width: 40rem;
}

#contact-us .contact-us-container{
  grid-template-columns: 1fr 1fr;
  place-content: center;
}

#contact-us .contact-us-content{
  text-align: start;
}

#contact-us .contact-us-content h2{
  font-size: 4rem;
}

#contact-us .contact-us-content p{
  font-size: 1.7rem;
}
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
#our-works h2{
  font-size: 3rem;
  font-weight: 600;
}

#our-works .work-container{
  grid-template-columns: 1fr 1fr 1fr;
}

#our-works .work-container .work-content .overlay-text{
  padding: 4rem 0;
}
}
